.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}

.container_menu {
  flex-direction: row;
  gap: 10px;
  width: 50%;
  
  .image {
    width: 75px;
    height:75px;
  }
  .title {
    font-size: 18px;
  }
  
}

.image {
  height: 200px;
  width: 200px;
  object-fit: cover;
<<<<<<< HEAD
  border-radius: 6px;
=======
>>>>>>> 8640c2723fde5bcc5be5bef24d0f968dd67604fa
}

.title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
