.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  
}

.add {
  background-color: transparent;
  cursor: pointer;
}

.image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  gap: 8px;
  
}


.text {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
