@import 'src/styles';

.main {
  padding: 250px calc(50% - 670px);
  min-height: 100vh;
  background-color: $main-color;
  @media (max-width: 1440px) {
    padding: 170px 50px 30px;
  }
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: space-between;
  @media (max-width: 720px) {
    flex-direction: column;
    gap: 20px;
  }
}

.left {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.title {
  color: $darkest-main-color;
  text-transform: uppercase;
  font-size: 36px;
  @media (max-width: 1440px) {
    font-size: 26px;
  }
  @media (max-width: 720px) {
    font-size: 20px;
  }
}

.return {
  background-color: transparent;
  cursor: pointer;
  color: $darkest-main-color;
}

.btns {
  display: flex;
  gap: 20px;
}

.print {
  padding: 40px;
}

.printTitle {
  display: none;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  @media print {
    display: block;
  }
}

.to_print {
  @media print {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    min-height: 200mm;
  }
}
