@use 'src/styles' as *;

.name {
	display: flex;
	justify-content: center;
	gap: 15px;
}

.title {
	font-weight: normal;
	color: $darkest-main-color;
	margin: 30px 0 10px;
	text-align: center;
	align-items: center;
}

.calendar {
	background-color: transparentize($main-color, 0.5);
	padding: 10px;
	border: 1px solid grey;
	border-radius: 15px;
}

.btn {
	color: $darkest-main-color;
	background-color: transparent;
	margin: 0 auto;
	width: 100%;
	cursor: pointer;
	margin-top: 30px;
}

.back {
  display: flex;
  background-color: transparent;
  gap: 10px;
  font-size: 20px;
  margin: 25px 0;
  align-items: center;
  cursor: pointer;
  &__txt {
    font-family: 'Montserrat', sans-serif;

  }
}
